:root {
  /* Typography: display large */
  --sys-typescale-display-large-font: "Poppins";
  --sys-typescale-display-large-size: 57px;
  --sys-typescale-display-large-weight: 700;
  --sys-typescale-display-large-line-height: 64px;
  --sys-typescale-display-large-tracking: -0.143px;

  /* Typography: display medium */
  --sys-typescale-display-medium-font: "Poppins";
  --sys-typescale-display-medium-size: 45px;
  --sys-typescale-display-medium-weight: 700;
  --sys-typescale-display-medium-line-height: 52px;
  --sys-typescale-display-medium-tracking: 0px;

  /* Typography: display small */
  --sys-typescale-display-small-font: "Poppins";
  --sys-typescale-display-small-size: 36px;
  --sys-typescale-display-small-weight: 600;
  --sys-typescale-display-small-line-height: 44px;
  --sys-typescale-display-small-tracking: 0px;

  /* Typography: headline large */
  --sys-typescale-headline-large-font: "Poppins";
  --sys-typescale-headline-large-size: 32px;
  --sys-typescale-headline-large-weight: 600;
  --sys-typescale-headline-large-line-height: 40px;
  --sys-typescale-headline-large-tracking: 0px;

  /* Typography: headline medium */
  --sys-typescale-headline-medium-font: "Poppins";
  --sys-typescale-headline-medium-size: 28px;
  --sys-typescale-headline-medium-weight: 600;
  --sys-typescale-headline-medium-line-height: 36px;
  --sys-typescale-headline-medium-tracking: 0px;

  /* Typography: headline small */
  --sys-typescale-headline-small-font: "Poppins";
  --sys-typescale-headline-small-size: 24px;
  --sys-typescale-headline-small-weight: 600;
  --sys-typescale-headline-small-line-height: 32px;
  --sys-typescale-headline-small-tracking: 0px;

  /* Typography: title large */
  --sys-typescale-title-large-font: "Roboto";
  --sys-typescale-title-large-size: 22px;
  --sys-typescale-title-large-weight: 500;
  --sys-typescale-title-large-line-height: 28px;
  --sys-typescale-title-large-tracking: 0px;

  /* Typography: title medium */
  --sys-typescale-title-medium-font: "Roboto";
  --sys-typescale-title-medium-size: 16px;
  --sys-typescale-title-medium-weight: 500;
  --sys-typescale-title-medium-line-height: 24px;
  --sys-typescale-title-medium-tracking: 0.024px;

  /* Typography: title small */
  --sys-typescale-title-small-font: "Roboto";
  --sys-typescale-title-small-size: 14px;
  --sys-typescale-title-small-weight: 500;
  --sys-typescale-title-small-line-height: 20px;
  --sys-typescale-title-small-tracking: 0.014px;

  /* Typography: body large */
  --sys-typescale-body-large-font: "Roboto";
  --sys-typescale-body-large-size: 16px;
  --sys-typescale-body-large-weight: 400;
  --sys-typescale-body-large-line-height: 24px;
  --sys-typescale-body-large-tracking: 0.08px;

  /* Typography: body medium */
  --sys-typescale-body-medium-font: "Roboto";
  --sys-typescale-body-medium-size: 14px;
  --sys-typescale-body-medium-weight: 400;
  --sys-typescale-body-medium-line-height: 20px;
  --sys-typescale-body-medium-tracking: 0.035px;

  /* Typography: body small */
  --sys-typescale-body-small-font: "Roboto";
  --sys-typescale-body-small-size: 12px;
  --sys-typescale-body-small-weight: 400;
  --sys-typescale-body-small-line-height: 16px;
  --sys-typescale-body-small-tracking: 0.048px;

  /* Typography: label large */
  --sys-typescale-label-large-font: "Roboto";
  --sys-typescale-label-large-size: 14px;
  --sys-typescale-label-large-weight: 500;
  --sys-typescale-label-large-line-height: 20px;
  --sys-typescale-label-large-tracking: 0.014px;

  /* Typography: label medium */
  --sys-typescale-label-medium-font: "Roboto";
  --sys-typescale-label-medium-size: 12px;
  --sys-typescale-label-medium-weight: 500;
  --sys-typescale-label-medium-line-height: 16px;
  --sys-typescale-label-medium-tracking: 0.06px;

  /* Typography: label small */
  --sys-typescale-label-small-font: "Roboto";
  --sys-typescale-label-small-size: 11px;
  --sys-typescale-label-small-weight: 500;
  --sys-typescale-label-small-line-height: 16px;
  --sys-typescale-label-small-tracking: 0.055px;

  /* Color Roles: Light Mode */
  --sys-color-primary: hsl(272, 53%, 39%);
  --sys-color-on-primary: hsl(0, 0%, 100%);
  --sys-color-primary-container: hsl(273, 100%, 86%);
  --sys-color-on-primary-container: hsl(273, 71%, 37%);
  --sys-color-secondary: hsl(31, 100%, 28%);
  --sys-color-on-secondary: hsl(0, 0%, 100%);
  --sys-color-secondary-container: hsl(27, 100%, 75%);
  --sys-color-on-secondary-container: hsl(31, 100%, 22%);
  --sys-color-tertiary: hsl(344, 91%, 39%);
  --sys-color-on-tertiary: hsl(0, 0%, 100%);
  --sys-color-tertiary-container: hsl(357, 100%, 85%);
  --sys-color-on-tertiary-container: hsl(343, 100%, 29%);
  --sys-color-error: hsl(4, 76%, 42%);
  --sys-color-on-error: hsl(0, 0%, 100%);
  --sys-color-error-container: hsl(4, 100%, 83%);
  --sys-color-on-error-container: hsl(4, 100%, 29%);
  --sys-color-background: hsl(60, 8%, 97%);
  --sys-color-on-background: hsl(180, 4%, 11%);
  --sys-color-surface: hsl(60, 8%, 97%);
  --sys-color-on-surface: hsl(180, 4%, 11%);
  --sys-color-surface-variant: hsl(20, 21%, 89%);
  --sys-color-on-surface-variant: hsl(26, 5%, 28%);
  --sys-color-outline: hsl(23, 3%, 47%);
  --sys-color-outline-variant: hsl(18, 9%, 78%);
  --sys-color-inverse-surface: hsl(150, 2%, 19%);
  --sys-color-inverse-on-surface: hsl(60, 3%, 94%);
  --sys-color-inverse-primary: hsl(273, 100%, 86%);
  --sys-color-surface-dim: hsl(60, 1%, 85%);
  --sys-color-surface-bright: hsl(60, 8%, 97%);
  --sys-color-surface-container-lowest: hsl(0, 0%, 100%);
  --sys-color-surface-container-low: hsl(120, 4%, 95%);
  --sys-color-surface-container: hsl(60, 3%, 93%);
  --sys-color-surface-container-high: hsl(60, 2%, 91%);
  --sys-color-surface-container-highest: hsl(0, 0%, 89%);
}

[data-theme="dark"] {
  /* Color Roles: Dark Mode */
  --sys-color-primary: hsl(272, 53%, 39%);
  --sys-color-on-primary: hsl(275, 100%, 25%);
  --sys-color-primary-container: hsl(273, 71%, 37%);
  --sys-color-on-primary-container: hsl(277, 100%, 93%);
  --sys-color-secondary: hsl(27, 100%, 75%);
  --sys-color-on-secondary: hsl(29, 100%, 15%);
  --sys-color-secondary-container: hsl(31, 100%, 22%);
  --sys-color-on-secondary-container: hsl(25, 100%, 88%);
  --sys-color-tertiary: hsl(357, 100%, 85%);
  --sys-color-on-tertiary: hsl(345, 100%, 20%);
  --sys-color-tertiary-container: hsl(343, 100%, 29%);
  --sys-color-on-tertiary-container: hsl(0, 100%, 93%);
  --sys-color-error: hsl(4, 100%, 83%);
  --sys-color-on-error: hsl(4, 100%, 21%);
  --sys-color-error-container: hsl(4, 100%, 29%);
  --sys-color-on-error-container: hsl(4, 100%, 92%);
  --sys-color-background: hsl(180, 4%, 6%);
  --sys-color-on-background: hsl(0, 0%, 89%);
  --sys-color-surface: hsl(180, 4%, 6%);
  --sys-color-on-surface: hsl(0, 0%, 89%);
  --sys-color-surface-variant: hsl(26, 5%, 28%);
  --sys-color-on-surface-variant: hsl(18, 9%, 78%);
  --sys-color-outline: hsl(20, 4%, 57%);
  --sys-color-outline-variant: hsl(26, 5%, 28%);
  --sys-color-inverse-surface: hsl(0, 0%, 89%);
  --sys-color-inverse-on-surface: hsl(150, 2%, 19%);
  --sys-color-inverse-primary: hsl(272, 53%, 48%);
  --sys-color-surface-dim: hsl(180, 4%, 6%);
  --sys-color-surface-bright: hsl(150, 2%, 24%);
  --sys-color-surface-container-lowest: hsl(180, 4%, 4%);
  --sys-color-surface-container-low: hsl(180, 4%, 11%);
  --sys-color-surface-container: hsl(180, 4%, 12%);
  --sys-color-surface-container-high: hsl(150, 2%, 17%);
  --sys-color-surface-container-highest: hsl(150, 2%, 22%);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --sys-color-primary: hsl(272, 53%, 39%);
    --sys-color-on-primary: hsl(275, 100%, 25%);
    --sys-color-primary-container: hsl(273, 71%, 37%);
    --sys-color-on-primary-container: hsl(277, 100%, 93%);
    --sys-color-secondary: hsl(27, 100%, 75%);
    --sys-color-on-secondary: hsl(29, 100%, 15%);
    --sys-color-secondary-container: hsl(31, 100%, 22%);
    --sys-color-on-secondary-container: hsl(25, 100%, 88%);
    --sys-color-tertiary: hsl(357, 100%, 85%);
    --sys-color-on-tertiary: hsl(345, 100%, 20%);
    --sys-color-tertiary-container: hsl(343, 100%, 29%);
    --sys-color-on-tertiary-container: hsl(0, 100%, 93%);
    --sys-color-error: hsl(4, 100%, 83%);
    --sys-color-on-error: hsl(4, 100%, 21%);
    --sys-color-error-container: hsl(4, 100%, 29%);
    --sys-color-on-error-container: hsl(4, 100%, 92%);
    --sys-color-background: hsl(180, 4%, 6%);
    --sys-color-on-background: hsl(0, 0%, 89%);
    --sys-color-surface: hsl(180, 4%, 6%);
    --sys-color-on-surface: hsl(0, 0%, 89%);
    --sys-color-surface-variant: hsl(26, 5%, 28%);
    --sys-color-on-surface-variant: hsl(18, 9%, 78%);
    --sys-color-outline: hsl(20, 4%, 57%);
    --sys-color-outline-variant: hsl(26, 5%, 28%);
    --sys-color-inverse-surface: hsl(0, 0%, 89%);
    --sys-color-inverse-on-surface: hsl(150, 2%, 19%);
    --sys-color-inverse-primary: hsl(272, 53%, 48%);
    --sys-color-surface-dim: hsl(180, 4%, 6%);
    --sys-color-surface-bright: hsl(150, 2%, 24%);
    --sys-color-surface-container-lowest: hsl(180, 4%, 4%);
    --sys-color-surface-container-low: hsl(180, 4%, 11%);
    --sys-color-surface-container: hsl(180, 4%, 12%);
    --sys-color-surface-container-high: hsl(150, 2%, 17%);
    --sys-color-surface-container-highest: hsl(150, 2%, 22%);
  }
}
